<div *ngIf="!loading" class="card w-100 col-6 col-sm-4 bg-light border border-1 m-2 p-0 d-flex justify-content-center align-items-center ">
  <img src="{{ product?.image }}" *ngIf="product?.image" alt="1" class="w-25 card-img-top test-popup-link first">
  <div class="ps-3 pb-3 pt-3 card-body">
    <h2 class="card-title text-center" *ngIf="product?.title">{{ product?.title }}</h2>
    <p class="card-text mb-4" *ngIf="product?.description">{{ product?.description }}</p>
    <p class="price" *ngIf="product?.price">Цена: {{ product?.price }} руб.</p>
    <div class="but d-flex flex-column justify-content-center align-items-center position-absolute" *ngIf="product?.image && product?.title && product?.description && product?.price">
      <a class="btn w-25 btn-primary hvr-sweep-to-bottom" routerLink="/products">Назад</a>
      <a class="btn w-25 btn-warning hvr-sweep-to-bottom" routerLink="/order" [queryParams]="{title: product?.title}">Купить</a>
    </div>
  </div>
</div>

